In [ ]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests

In [ ]:
# get data from our database
url = "http://3.145.78.241:5000/gethistoricdata"
resp = requests.get(url)
resp.raise_for_status()             
data = resp.json()                 

df = pd.DataFrame(data)

display(df.head())

,after_price,before_price,comment,id,score,sector,sentiment_score,stock_ticker,time
0,421.871399,423.918823,YOLO my life's savings in 0DTE Far OTM options...,1111,70,N/A,0.8,N/A,"Wed, 24 Apr 2024 19:31:50 GMT"
1,421.871399,423.918823,"This is horrible advice, never has there been ...",1112,70,N/A,-0.8,N/A,"Wed, 24 Apr 2024 19:36:15 GMT"
2,421.871399,423.918823,So what I'm hearing is that I should be sellin...,1110,113,N/A,0.6,N/A,"Wed, 24 Apr 2024 20:33:00 GMT"
3,421.871399,423.918823,Trading off news is bad for your health,1109,83,N/A,-0.7,N/A,"Wed, 24 Apr 2024 23:49:41 GMT"
4,428.381561,421.871399,"That's good, no? It should help with inflation...",1104,73,N/A,-0.6,N/A,"Thu, 25 Apr 2024 12:51:20 GMT"

In [11]:
df["change"] = df["after_price"] - df["before_price"]
df.head()

,after_price,before_price,comment,id,score,sector,sentiment_score,stock_ticker,time,change
0,421.871399,423.918823,YOLO my life's savings in 0DTE Far OTM options...,1111,70,N/A,0.8,N/A,"Wed, 24 Apr 2024 19:31:50 GMT",-2.047424
1,421.871399,423.918823,"This is horrible advice, never has there been ...",1112,70,N/A,-0.8,N/A,"Wed, 24 Apr 2024 19:36:15 GMT",-2.047424
2,421.871399,423.918823,So what I'm hearing is that I should be sellin...,1110,113,N/A,0.6,N/A,"Wed, 24 Apr 2024 20:33:00 GMT",-2.047424
3,421.871399,423.918823,Trading off news is bad for your health,1109,83,N/A,-0.7,N/A,"Wed, 24 Apr 2024 23:49:41 GMT",-2.047424
4,428.381561,421.871399,"That's good, no? It should help with inflation...",1104,73,N/A,-0.6,N/A,"Thu, 25 Apr 2024 12:51:20 GMT",6.510162

In [12]:
df = df[["score", "sentiment_score", "change"]]
df.head()

   score  sentiment_score    change
0     70              0.8 -2.047424
1     70             -0.8 -2.047424
2    113              0.6 -2.047424
3     83             -0.7 -2.047424
4     73             -0.6  6.510162

In [13]:
df.shape

(2802, 3)

In [14]:
df.dtypes

score                int64
sentiment_score    float64
change             float64
dtype: object

In [15]:
df.describe()

             score  sentiment_score       change
count  2802.000000      2802.000000  2468.000000
mean    314.021413        -0.016221    -0.379117
std     569.208942         0.639993     8.364392
min      50.000000        -1.000000   -27.989990
25%      77.000000        -0.700000    -3.005493
50%     133.500000         0.200000     1.577637
75%     292.750000         0.600000     4.655518
max    9857.000000         1.000000    13.240265

In [21]:
df.isnull().sum()

score              0
sentiment_score    0
change             0
dtype: int64

In [20]:
df.dropna(subset=['change'], inplace=True)

In [24]:
df.duplicated().sum()

0

In [23]:
df.drop_duplicates(inplace=True)

In [31]:
df.to_csv('cleanedData.csv', index=False)